.navMenu {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.mainLink {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.gridCenter {
    text-align: center;
    margin-top: 10px !important;
}

.rightgrid {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;

}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #333333;
}

.large {
    width: 150px !important;
    height: 150px !important;
    z-index: 0;
    object-fit: cover;
}

.circle {
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-image: url("../../../assets/icons/userAvatar.svg");
    background-color: #CCCCCC;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: top 0.5s;
}

.circle:hover .overlay {
    top: 0 !important;
}

.overlay img {
    margin: 50px -20px -20px;
}

.name {

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 0;
}

.rank {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    text-align: center;

    color: #333333;
}

.bio {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 10px;
}

.myProfile {
    margin-top: 5px !important;
}

.settings {
    margin-top: 70px !important;
}

.logOut {
    margin-top: 8px !important;
}

.lang {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    text-decoration: none;
    align-items: center;
    color: #333333;
}