.header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin: 16px 0 0 16px;
}

@media (max-width: 600px) {
    header {
        margin-top: -40px !important;
    }
}

.deadline {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #333333;
    margin: 0;
}

.info {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #333333;
    margin-top: 11px;
    margin-bottom: 5px;
}

.SeeAll {
    font-size: 10px;
    line-height: 14px;
    color: #0075FF;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.bottomInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NumofVolunteers {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #333333;

    margin: 0;
}

.status {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    margin-left: 15px;
}

.InProccess {
    color: #FFD600;
}

.Finished {
    color: #777777;
}

.ads {
    /*position: absolute;*/
    margin-left: 20px;
    margin-top: 80px;
    max-width: 280px;
}