.header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
    color: #000000;
}

.deadline {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #333333;
    margin: 0;
}

.info {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #333333;
    margin-top: 11px;
    margin-bottom: 5px;
}

.SeeAll {
    font-size: 10px;
    line-height: 14px;
    color: #0075FF;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.bottomInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NumofVolunteers {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #333333;

    margin: 0;
}

.status {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    margin-left: 15px;
}

.InProccess {
    color: #FFD600;
}

.Finished {
    color: #777777;
}


.contacts {
    margin: 3px 0;
    font-size: 14px;
}

.contacts span {
    font-weight: 700;
}

.contacts a {
    text-decoration: none;
    color: #333333;
}

.needs {
    margin-top: 12px;
    display: flex;
}

.needs .icon {
    margin-right: 15px;
}

.needs .icon svg {
    width: 20px;
    height: 20px;
}

.yellow path {
    fill: #FFD600;
}

/*Modal style*/
.top {
    display: flex;
    justify-content: space-between;
}

.modalHeader {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin: 0;
    color: #000000;
    margin-bottom: 30px;
    padding: 30px 30px 0px 30px;
}

.volunteerName {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 0;
}


.MembersInfo {
    display: flex;
    align-items: center;
}

.ListItemChooseVolunteer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ListItemApplicant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7F7F7;
    padding: 12px 30px
}

.List {
    padding: 0px 30px;
}

.ava {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    align-self: baseline;
}

.title {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    color: #777777;
    margin: 0px 8px 0px 0px;
}

.title .stars {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.ButtonsBox {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.ButtonsBox button:first-child {
    margin-right: 30px;
}

.leave {
    text-align: center;
    margin: auto;
    padding: 0px;
}

.leave li {
    display: inline-flex;
    list-style-type: none;
    height: 60px;
    margin: 0px;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    .modalHeader {
        padding: 20px 20px 0px 20px;

    }

    .ListItemApplicant {
        padding: 12px 20px;
        display: block;
    }

    .List {
        padding: 0px 20px;
    }

    .ListItem {
        display: block;
    }

    .ButtonsBox {
        padding: 20px;
    }

    .rate {
        margin-left: 87px;
    }

    .title {
        font-size: 12px;
    }

    .title .stars {
        font-size: 12px;
    }

}